<h1>Password Reset</h1>
<h2>You, or someone pretending to be you, has requested to change your password.</h2>
<p>If this wasn't you, ignore this email</p>
<p>
  Follow this link to reset your password: <%= link_to 'Reset Password', @url %>
</p>
