<h1>My Wordlist</h1>
<h2>Password Reset</h2>
<h3>You, or someone pretending to be you, has requested to change your password.</h3>
<p>
  If this wasn't you, ignore this email.
</p>
<p style="font-weight: bold;">
  Follow this link to reset your password: <%= link_to 'Reset Password', @url %>
</p>
