<% content_for :page_styles do %>
  <%= stylesheet_link_tag 'password_resets_success', media: 'all' %>
<% end %>

<div class="mdl-layout mdl-js-layout">
  <main class="mdl-layout__content">
    <h3>My Wordlist</h3>
    <h4>Reset Your Password</h4>
    <i class="material-icons">check</i>
    <p>Your password has been successfully reset.</p>
    <p>Please sign in with your new password.</p>
  </main>
</div>
