main {
  margin: 1em auto;
  text-align: center;
  width: 80%;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
