form {
  display: inline-flex;
  flex-direction: column;

  div.field:nth-of-type(2) {
    margin-bottom: 1em;
  }
}

main {
  margin: 1em auto;
  text-align: center;
  width: 80%;
}

.password-wrapper {
  position: relative;
}

#submit-spinner {
  display: none;
  height: 1.5em;
  position: relative;
  right: -0.4em;
  top: 0.4em;
  width: 1.5em;
}

.toggle-password {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}
