main {
  margin: 2em auto;
  text-align: center;
  width: 80%;
}

i {
  color: green;
  font-size: 4em !important;
  font-weight: bold !important;
  margin-bottom: 1em;
  position: relative;
  top: 0.12em;
}
